{% extends 'base.html' %}

{% block title %}
<title>CozyHause • Discover</title>
{% endblock %}

{% block content %}
<div class="branding">
    <img src="{{url_for('static', filename='logo.png')}}" alt="CozyHauseLogo" class="logo">
</div>
<br>
<div class="menu">
    <button class="redirectHause_button" onClick="redirectHome()">Hauses</button>
    <button class="redirectDiscover_button selected">Discover</button>
</div>
<div class="container">
    <form method="post" autocomplete="off">
        <br>
        <h5 class="label">Discover Hauses</h5>
        {% if public_hauses|length == 0 %}
            <div class="noHauses">
                <p class="errors" style="font-size: 24px;">Looks like no one's online <i class="fa-regular fa-face-meh"></i></p>
                <br>
                <button class="reload_button" onClick="reloadPage()"><i class="fa-solid fa-rotate-right"></i> Reload</button>
            </div>
        {% else %}
            <div class="discoverWrapper">
                {% for i in public_hauses.values() %}
                    <div class="hauseJoinContainer">
                        <div class="hauseJoin">
                            <form method="POST" autocomplete="off">
                                <h2 class="hauseName">{{ i["name"] }}
                                    <span class="small">created by {{ i["owner"] }}</span>
                                </h2>
                                <input type="hidden" name="hauseCode" value="{{ i['code'] }}">
                                <button class="hauseJoinModal_button" onClick="displayNameModal()" type="button">Join Hause</button>
                                <!-- name modal -->
                                <div class="nameModal_bg" id="nameModal_bg">
                                    <div class="nameModal_content">
                                        <div class="nameModal_header">
                                            <span class="close_name" id="close_name">&times;</span>
                                            <h2 class="nameModal_header_text">Tell us about You</h2>
                                        </div>

                                        <div class="nameModal_body">
                                            <div class="hauseJoinNameWrapper">
                                                <input type="text" name="name" placeholder="{{placeholder}}" value="{{name}}" class="hauseInput">
                                                <br>
                                                <br>
                                                <div class="favcolorWrapper" id="favcolorWrapper">
                                                    <select name="favcolor" id="favcolor" class="hauseFavColor">
                                                        <option value="Favourite_Color">Click to choose your Favourite Color!</option>
                                                        <option value="#ff758a">Watermelon</option>
                                                        <option value="#C66E4E">Chocolate</option>
                                                        <option value="#ff8c00">Orange</option>
                                                        <option value="#12baff">Sky</option>
                                                        <option value="#286952">Leaf</option>
                                                        <option value="#4F86F7">BlueBerry</option>
                                                        <option value="#36454f">Charcoal</option>
                                                    </select>
                                                </div>
                                                <br>
                                                <button class="hauseJoinModal_button_form" type="submit" name="discoverJoin">Join Hause</button>
                                                <br>
                                                {% if error %}
                                                <div class="errors">
                                                    <h2 class="errors_text">{{error}}</h2>
                                                </div>
                                                {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <!-- -->
                            </form>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </form>
</div>

<script type="text/javascript">
    
    //hauseName modal
    var modal = document.getElementById("nameModal_bg");
    var close_name = document.getElementById("close_name");

    function displayNameModal() {
        modal.style.display = "block";
    }

    close_name.onclick = function () {
        modal.style.display = "none";
    }

    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    function redirectHome() {
        window.location.replace("/");
    }

    function reloadPage() {
        window.location.reload();
    }
    
</script>

{% endblock %}
